name: gittr-dev
channels:
  - zeroae
  - conda-forge
  - defaults
dependencies:
  - python
  - pip
  - pip:
    - -e .

  # Setup Requirements (setup.py:setup_requirements)
  - setuptools_scm
  - setuptools_scm_git_archive
  - wheel

  # Install Requirements (setup.py:requirements)
  - click >=7.0
  - click-plugins
  - entrypoints
  - gitpython >=3.1.0,<3.2
  - jinja2 >=2.11.1,<3
  - jinja2-time ==0.2.0
  - pyyaml >=5.3.1,<6

  # Test Requirements (setup.py:test_requirements)
  - pytest >=3
  - pytest-cov

  # Documentation Requirements (setup.py:doc_requirements)
  - sphinx
  - sphinx-click
  - watchdog

  # Dev Workflow requirements
  - pre-commit
  - black
  - flake8
  - ipython
  - keyring
  - twine
